.borrar {
    width: 130px;
    margin-left: 46%;
    margin-top: 2%;
    font-size: 1.1vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    background-color: #4BD5EE;
    border-radius: 5px;
    border: solid #FFE81F;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.borrar:hover {
    background-color: #FFE81F;
    border: 4px #4BD5EE solid;
}

.gallery {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
    text-align: center;
    margin: 5% 0% 3% 18%;
}

.draggable {
    cursor: grab;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draggable img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 2px 1px 20px rgba(192, 192, 192, 0.69);
    transition: transform 0.2s;
    margin-left: 3%;
}

.drop-zone {
    margin-top: 5%;
    margin-left: 45%;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px dashed #4BD5EE;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 20px rgba(192, 192, 192, 0.69);
    transition: border-color 0.3s;
}

.drop-zone.highlight {
    background-color: rgba(75, 213, 238, 0.2);
}

.draggablecuerpoinfo {
    display: none;
    /* Ocultar por defecto */
    margin-top: 3%;
    margin-left: 6%;
}

.info-visible {
    display: block;
    /* Mostrar cuando es visible */
}

.info-hidden {
    display: none;
    /* Ocultar cuando no es visible */
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1400px;
    /* Mantén el ancho deseado */
    height: auto;
}

.containerinfo {
    width: 1200px;
    /* Ajusta el tamaño según necesites */
    border-radius: 10px;
    padding: 10px;
    /* Mantener el espaciado interno */
    display: flex;
    flex-direction: column;
    /* Mantener contenido en vertical */
    align-items: center;
    /* Centrar el contenido dentro del contenedor */
    margin-left: 6%;
}

.draggableimagenreal {
    display: flex;
    /* Usar flexbox para mostrar imágenes en línea */
    justify-content: center;
    /* Centrar las imágenes horizontalmente */
    gap: 10px;
    /* Espacio entre imágenes (ajustar según preferencia) */
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
}

.info-block h3 {
    color: #FFE81F;
    list-style: none;
    line-height: 3vw;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: start;
    margin-bottom: 3%;
}

.info-block ul li {
    color: white;
    list-style: none;
    line-height: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    text-align: center;
    margin-bottom: 3%;
}

.info-block ul li strong {
    color: #FFE81F;
}

.info-block p {
    color: white;
    line-height: 1.8vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    text-align: start;
    margin-left: 0%;
}

.info-block p strong {
    color: #FFE81F;
}

.draggableimagenreal img {
    width: 600px;
    /* Asegúrate de que las imágenes no excedan el ancho del contenedor */
    height: 450px;
    /* Mantiene la proporción de las imágenes */
    border-radius: 5%;
}

.draggableimagenrealbuscar {
    display: flex;
    /* Usar flexbox para mostrar imágenes en línea */
    justify-content: center;
    /* Centrar las imágenes horizontalmente */
    gap: 10px;
    /* Espacio entre imágenes (ajustar según preferencia) */
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
}

.draggableimagenrealbuscar img {
    width: 600px;
    /* Asegúrate de que las imágenes no excedan el ancho del contenedor */
    height: 450px;
    /* Mantiene la proporción de las imágenes */
    border-radius: 5%;
}

.containerinfobuscar {
    width: 1200px;
    /* Ajusta el tamaño según necesites */
    border-radius: 10px;
    padding: 10px;
    /* Mantener el espaciado interno */
    display: flex;
    flex-direction: column;
    /* Mantener contenido en vertical */
    align-items: center;
    /* Centrar el contenido dentro del contenedor */
    margin-left: 10%;
    background: rgba(250, 250, 253, 0);
    backdrop-filter: blur(10px);
}

.infobuscarnaves h3 {
    color: #FFE81F;
    list-style: none;
    line-height: 3vw;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: start;
    margin-bottom: 3%;
}

.infobuscarnaves ul li {
    color: white;
    list-style: none;
    line-height: 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 3%;
}

.infobuscarnaves ul li strong {
    color: #FFE81F;
}

.infobuscarnaves p {
    color: white;
    line-height: 1.8vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    text-align: start;
    margin-left: 0%;
}

.infobuscarnaves p strong {
    color: #FFE81F;
}



/* Estilo adicional para mejorar la visibilidad al limpiar la selección */
.clear-button {
    width: 130px;
    margin-top: 2%;
    font-size: 1.2vw;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #FF4B4B;
    border-radius: 5px;
    border: solid #FFE81F;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.clear-button:hover {
    background-color: #FFE81F;
    border: 4px #FF4B4B solid;
}

/* Ajustes generales para la visibilidad al limpiar */
.info-hidden {
    display: none;
    /* Asegúrate de que esté correctamente oculto */
}


.container {
    max-width: 1000px;
    margin: 10% auto -5% auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 2px 1px 20px rgba(192, 192, 192, 0.69);
}

#wordDisplay {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 13px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.palabras {
    margin: 1% 0% 3% 48% ;
    font-size: 2vw;
    width: 40px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    }

    .palabras2{
        margin-top: 2%;
    }

.palabras3{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

#usedLetters{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    margin-left: 43%;
    width: 150px;
    margin-top: 7%;
}
.reiniciar3,
.reiniciar2,
.reiniciar {
    color: #000;
    background-color: yellow;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    width: 145px;
    height: 35px;
    border-radius: 50%;
}

.reiniciar2:hover,
.reiniciar:hover {
    background-color: gray;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;

}

#errorCount {
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    color: #ff0000;
    text-align: center;
}

/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-out;
    pointer-events: none;
  }
  
  .modalmask:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  /*Formato de la ventana*/
  .modalbox {
    width: 100%;
    position: relative;
    padding: 5px 10px 3px 0px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    box-shadow: 2px 1px 23px 13px rgba(192, 192, 192, 0.69);
  
  }
  
  /*Movimientos*/
  .movedown {
    margin: 3% auto;
  }
  
  .rotate {
    margin: 3% auto;
    -webkit-transform: scale(-5, -5);
    transform: scale(-5, -5);
    transition: all 800ms ease-in-out;
  }
  
  .resize {
    margin: 3% auto;
    width: 0;
    height: 0;
  }
  
  
  .modalmask:target .resize {
    width: 1000px;
    height: 500px;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 3%;
    overflow-y: auto;
    /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
    background: linear-gradient(#FCF596, #FBD288, #FF9C73, #FF4545);
    padding: 1 25px 5px;
    margin-bottom: 35px;
  }
  
  /*Boton de cerrar*/
  .close-historia {
    background: #111111;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
  
  }
  
  .close-historia:hover {
    background: #FFD43B;
    color: #222;
  }
  
  .modalbox h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10%;
    margin-left: 10%;
  }
  
  
  
  .modalsstrong {
    color: #FFD43B;
    font-size: 1.5vw;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 2%;
  }
  
  .modalstrong2 {
    color: #FFD43B;
    font-size: 1.3vw;
    font-weight: 800;
  }
  
  .modals {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: 800;
    color: #000000;
    line-height: 2.9vw;
    margin-top: 4%;
  }
  
  .botones-fin2 {
    display: flex;
    /* Hace que los elementos se muestren en línea */
    justify-content: center;
    /* Distribuye los elementos a lo largo del contenedor */
    align-items: center;
    /* Centra verticalmente los elementos */
    padding: 30px;
    margin-top: 0%;
  }
  
  
  .botones-fin2 svg {
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
  }
  
  .icono-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    font-weight: bolder;
    margin-top: 10%;
    color: #000000;
  }